@use "../../styles/variables.scss" as *;
@use "sass:color";

.gallery-screen-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "filter-panel main-panel";
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  direction: rtl;
}

.gallery-main-panel {
  grid-area: main-panel;
  padding: 2rem;
  overflow-y: auto;

  .gallery-header {
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    hr {
      border: 0;
      border-top: 1px solid rgba($border-color, 0.3);
    }
    
    .app-name {
      text-align: left;
      letter-spacing: 0.2em;
      font-family: $main-font;
      font-weight: $font-weight-light;
    }
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 2.5rem 2rem;
  }

  .gallery-item {
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: translateY(-5px);
    }
  }

  .gallery-flower-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.5rem;
  }

  .gallery-item-name {
    font-family: $main-font;
    font-weight: $font-weight-light;
    font-size: 1rem;
    color: $text-color;
  }
}

.gallery-filter-panel {
  grid-area: filter-panel;
  background: $background-color;
  border-left: 1px solid rgba($border-color, 0.3);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;

  .filter-header {
    color: $text-color;
    font-family: $main-font;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    padding: unset;
    padding-bottom: 0.1rem;

    h6 {
      font-family: $main-font !important;
      font-weight: $font-weight-light !important;
      font-size: 1rem !important;
      color: #888 !important;
      padding: 1.65rem 1rem 0.6rem 2rem;
    }

    .back-button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
      color: #888;
      cursor: pointer;
      transition: color 0.2s;
      background: none;
      border: none;
      border-left: 1px solid rgba($border-color, 0.3);
      height: 100%;
      padding: 0;
      font-family: $main-font;
      font-weight: $font-weight-light;

      .back-icon-container {
        padding: 0.65rem 1rem 0.6rem 2rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        span {
          padding: 1rem 0 0 0;
        }

        .back-icon-button {
          transform: rotate(180deg);
          padding: 0 0 1rem 0;

          svg {
            font-size: 1.2rem;
          }
        }

        &:hover {
          color: $text-color;
        }
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid rgba($border-color, 0.3);
    width: 100%;
  }

  .filter-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    min-height: 0%;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 4px;
    }

    @media (min-width: 800px) and (max-width: 1800px) {
      max-height: 80vh;
    }

    .filter-label-item {
      height: 100%;
      border-bottom: 1px solid rgba($border-color, 0.3);
      min-width: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem;
      cursor: pointer;

      p {
        color: $text-color;
        font-family: $main-font;
        font-weight: $font-weight-light;
        letter-spacing: 0.2em;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
      }

      &.hover {
        background-color: $onSelect-Color;
        // color: white;
        font-weight: $font-weight-bold;
      }

      &.active {
        background-color: $onSelect-Color;
        color: white;
        font-weight: $font-weight-bold;
      }
    }
  }

  .filter-section {
    flex: 1;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba($border-color, 0.3);

    .filter-title {
      font-family: $main-font;
      font-weight: $font-weight-regular;
      margin-bottom: 1rem;
      text-align: right;
      font-size: 1.1rem;
    }
    .filter-options {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .filter-select-container {
      .MuiInput-underline:before,
      .MuiInput-underline:after {
        border-bottom: none;
      }
      .filter-select {
        background-color: #fff;
        border-radius: 4px;
        padding: 8px 12px;
        font-family: $main-font;
      }
    }
  }
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;

  @media (min-width: 1800px) {
    gap: 2.5rem;
  }

  .gallery-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    @media (min-width: 1800px) {
      gap: 1rem;
    }

    h5 {
      margin-block-start: 60px;
      margin-block-end: 60px;
      letter-spacing: 0.2em;
      font-family: $main-font;
      font-weight: $font-weight-light;
    }
  }

  &.is-unfiltered {
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    .gallery-group {
      flex-grow: 1;
    }

    .gallery-bunch-container {
      position: relative; // Anchor for absolute positioning
      width: 1px;
      height: 1px;
      transform: scale(1);
      transition: transform 0.4s ease-out;

      @media (max-width: 1200px) {
        transform: scale(0.8);
      }
      @media (max-width: 992px) {
        transform: scale(0.65);
      }
      @media (max-width: 768px) {
        transform: scale(0.5);
      }
      @media (max-width: 576px) {
        transform: scale(0.4);
      }
    }

    .gallery-item {
      position: absolute;
      top: 0;
      left: 0;
      &:not(:first-child) {
        margin-right: 0;
      }
    }
  }
}

.gallery-bunch-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  transform: scale(1);
  transition: transform 0.4s ease-out;

  @media (max-width: 1800px) {
    transform: scale(0.9);
  }
  @media (max-width: 1400px) {
    transform: scale(0.85);
  }
  @media (max-width: 1200px) {
    transform: scale(0.8);
  }
  @media (max-width: 992px) {
    transform: scale(0.65);
  }
  @media (max-width: 768px) {
    transform: scale(0.5);
  }
  @media (max-width: 576px) {
    transform: scale(0.4);
  }
}

.gallery-item {
  cursor: pointer;
  width: 250px;
  height: 250px;
  position: relative;
  z-index: 1;
  transition:
    transform 0.3s ease-out,
    z-index 0s 0.3s;
  transform-origin: center bottom;
  margin-bottom: -130px;

  &:not(:first-child) {
    margin-right: -90px;
    margin-left: -50px;
  }

  &:hover {
    transform: scale(1.1) translateY(-15px);
    z-index: 10;
    transition:
      transform 0.3s ease-out,
      z-index 0s 0s;
  }
}

.gallery-flower-container {
  width: 100%;
  height: 100%;
}

.gallery-item-name {
  display: none;
}
