@use "sass:color";
@use "../../styles/variables" as *;

.result-screen-container {
    direction: rtl;
    height: 95%;
    display: grid;
    grid-template-rows: auto // header
        70vh // flower area
        auto // description
        auto; // buttons
    grid-template-columns: 1fr;
    grid-template-areas: "result-header" "flower-display-container" "result-description" "result-actions";
    background-color: $background-color;
    padding: 2rem;
    justify-items: center;
    animation: fadeIn 1s ease-in-out;

    @media (min-width: 800px) and (max-width: 1800px) {
        height: 90%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.result-header {
    grid-area: result-header;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.results-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    flex: 1;
    width: 100%;

    .result-title {
        font-family: "Heebo", sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
    }
}

.flower-display-container {
    grid-area: flower-display-container;
    .flower-container {
        svg {
            width: 60rem;

            @media (min-width: 1801px) and (max-width: 2100px) {
                width: 55rem;
            }

            @media (min-width: 800px) and (max-width: 1800px) {
                width: 40rem;
            }
        }
    }
}

.result-description {
    grid-area: result-description;
    font-family: "Heebo", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: #555;
    margin-top: -50px;
}

.result-actions {
    grid-area: result-actions;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;

    .footer-btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .result-button {
            font-family: "Heebo", sans-serif;
            border: none;
            color: #555 !important;
            border-radius: 20px !important;
            padding: 0.5rem 1.5rem !important;
            transition: all 0.3s !important;
            width: 12rem;
            background-color: #fff !important;

            .result-button:hover {
                background-color: #f0f0f0 !important;
                border-color: #aaa !important;
            }
        }
    }

    .share-btn-container {
        .result-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-family: "Heebo", sans-serif;
            border: none;
            color: #555 !important;
            border-radius: 20px !important;
            padding: 0.5rem 1.5rem !important;
            transition: all 0.3s !important;
            width: 12rem;
            background-color: #fff !important;

            .result-button:hover {
                background-color: #f0f0f0 !important;
                border-color: #aaa !important;
            }
        }
    }
}

.results-border {
    border: 0;
    border-top: 1px solid rgba($border-color, 0.3);
    width: 100%;
}
